body {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#container {
	display: flex;
	flex-direction: column;
	align-items: center;

}